.composition {
    position: relative; //parent relative for composition photo positioning
    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .40);
        border-radius: 2px black;
        position: absolute;
        transition: all .4s;
        outline-offset: 1.5rem;
        &:hover {
            transform: translateY(-.5rem) scale(1.1);
            z-index: 3;
            box-shadow: 0 1rem 1rem rgba($color-black, .5);
            outline: 1.5rem solid $color-primary;
            
        }
        &--p1 {
            left: 0;
            top: -2rem;
        }
        &--p2 {
            right: 0;
            top: 2rem;
        }
        &--p3 {
            left: 20%;
            top: 10rem;
        }
    }
    &:hover &__photo:not(:hover) {
        //vomposition:hover composition__photo:not(:hover)
        transform: scale(.95);
    }
}